@font-face {
  font-family: "sacramento";
  src: url("../media/Sacramento-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../media/matcha-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: sacramento, cursive;
  font-size: 3rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.current {
  color: #69bf64;
}

ul {
  list-style-type: none;
  margin: 2rem;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: rgba(0, 0, 0, .4);
  padding: 1rem 2rem;
  transition: all .4s ease;
}

nav a:not(.current):hover {
  background-color: rgba(0, 0, 0, .6);
}

main {
  transition: opacity .3s ease-in-out;
}

.content {
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  position: absolute;
  right: 0;
  top: 35%;
  transform: translateY(-35%);
  width: 40vw;
}

.content p {
  font-size: 3.5rem;
}

ul.drinks li {
  font-size: 3.2rem;
  margin-bottom: .3rem;
}

p.info {
  font-family: arial, sans-serif;
  font-size: 1.4rem;
}

p.info a {
  text-decoration: underline;
}
